html {
	overflow-x: hidden;
}

body {
	background: linear-gradient(0deg, #39526B 0%, rgb(255, 255, 255) 100%);
	background-position-y: 1em;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.nav-link {
	color: rgb(0, 0, 0);
}

.navbar-nav .nav-link.active {
	color: rgb(47, 0, 255);
}

.navbar-brand img {
	width: 35px;
}


.sidebar {
	padding-left: 2em;
	padding-right: 3em;
}

.card a {
	text-decoration: none;
}

.slide-text {
	font-size: 35px;
	margin: auto auto;
}

.call-anim {
	animation: myAnim 4s ease 0s infinite normal forwards;
}

footer .container-fluid {
	margin-top: 20px;
}

.footer-text {
	margin: auto auto;
	font-size: 20px;
	color: rgb(166, 166, 223);
}

.tg {
	margin-top: 20px;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@media (max-width: 755px) {
	.carousel-indicators {
		display: none;
	}
}